{% extends "layout.html" %}

{% block title %}
    <title>Flight Details</title>
{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{{url_for('static', path='/style.css')}}">
{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="display-4">Flights Scraper ✈︎</h1>

        <form method="post" action="">
            <div class="row mt-5 mb-3">
                <div>
                    <input type="radio" id="oneway-trip" name="is_round_trip" placeholder="One-way trip" value="{{false}}" checked/>
                    <label>One-way trip</label>
                    <br>
                    <input type="radio" id="round-trip" name="is_round_trip" placeholder="Round trip" value="{{true}}"/>
                    <label>Round trip</label>
                </div>
            </div>

            <div class="row mt-3 mb-3">
                <div>    
                    <input type="text" placeholder="from" name="departure_location">
                    <input type="text" placeholder="to" name="arrival_location">
                </div>
            </div>

            <div class="row mt-3 mb-3">
                <div>  
                    <input type="date" name="departure_date"/>
                </div>
            </div>

            <div class="row mt-5 mb-3">
                <div>
                    <input class="hidden" type="text" placeholder="from" name="departure_location_comeback">
                    <input class="hidden" type="text" placeholder="to" name="arrival_location_comeback">
                </div>
            </div>

            <div class="row mt-3 mb-3">
                <div>
                    <input class="hidden" type="date" name="departure_date_comeback"/>
                </div>
            </div>

            <input name="submit_button" type="submit" class="btn btn-outline-success"></input>
        </form>

        <script>
            const form1 = document.querySelector("input[name='departure_location_comeback']");
            const form2 = document.querySelector("input[name='arrival_location_comeback']");
            const form3 = document.querySelector("input[name='departure_date_comeback']");
            const form4 = document.querySelector("input[name='departure_time_comeback']");
            
            document.querySelector('#round-trip').addEventListener('change',(event)=>{
                if (event.target.checked){
                    form1.classList.remove("hidden");
                    form2.classList.remove("hidden");
                    form3.classList.remove("hidden");
                    form4.classList.remove("hidden");
                } else {
                    form1.classList.add("hidden");
                    form2.classList.add("hidden");
                    form3.classList.add("hidden");
                    form4.classList.add("hidden");
                }
            });

            document.querySelector('#oneway-trip').addEventListener('change',(event)=>{
                if (event.target.checked){
                    form1.classList.add("hidden");
                    form2.classList.add("hidden");
                    form3.classList.add("hidden");
                    form4.classList.add("hidden");
                } else {
                    form1.classList.remove("hidden");
                    form2.classList.remove("hidden");
                    form3.classList.remove("hidden");
                    form4.classList.remove("hidden");
                }
            });
        </script>

        {% block scripts %}
            <!--script src="{{url_for('static', path='/calendar_script.js')}}"></script-->
        {% endblock %}

    </div>
    
{% endblock %}